{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Login</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'myapp/img/favicon.png' %}" rel="icon">
  <link href="{% static 'myapp/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'myapp/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'myapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'myapp/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'myapp/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'myapp/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'myapp/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'myapp/css/style.css' %}" rel="stylesheet">

</head>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="{% url 'index' %}"><img src="{% static 'myapp/img/logo2.png' %}" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="{% url 'index' %}#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'index' %}#about">Nosotros</a></li>
          <li><a class="nav-link scrollto" href="{% url 'index' %}#services">Servicios</a></li>
          <li><a class="nav-link scrollto " href="{% url 'index' %}#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="{% url 'index' %}#team">Equipo</a></li>
          <li><a class="nav-link scrollto" href="{% url 'index' %}#pricing">Promociones</a></li>
          <li><a class="nav-link scrollto" href="{% url 'index' %}#contact">Contacto</a></li>
          <li><a class="nav-link scrollto active" href="{% url 'login' %}">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="{% url 'index' %}">Volver al Home</a></li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->

    {% if messages %}
      <ul>
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    
    <!-- ===== LOGIN ===== -->
    <div class="login-form">
      <h2>Login</h2>
      <form id="loginForm" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="email" id="email" name="email" placeholder="Correo electrónico" required>
        <input type="password" id="password" name="password" placeholder="Contraseña" required>
        <input type="checkbox" id="recordar" name="recordar" value="Recordar">
        <label for="recordar"><p>Deseas recordar contraseña</p></label>
        <button type="submit">Iniciar sesión</button>
        {% if error %}
          <p style="color: red;">{{ error }}</p>
        {% endif %}
      </form>
      <p>¿No tienes una cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a></p>
    </div>

    <!-- Vendor JS Files -->
    <script src="{% static 'myapp/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'myapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'myapp/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'myapp/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'myapp/vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'myapp/js/script.js' %}"></script>

  </main><!-- Fin Main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <a href="#header" class="scrollto footer-logo"><img src="{% static 'myapp/img/trm.png' %}" alt=""></a>
            <p>Y cualquiera que huya de ellos, nada son. Con un gran esfuerzo físico, elegir un vuelo suele ser lo más cómodo.</p>
          </div>
        </div>
        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" placeholder="Ingresa tu email"><input type="submit" value="Suscribete">
            </form>
          </div>
        </div>
        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>TRM</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>
</html>
